body{
    margin: 0;
    background-color: #222;
    font-family: system-ui, -apple-system;
    display: grid;
    place-content: center;
    height: fit-content;
    padding: 2rem 0;

}

.contenedorTarjetasDeUsuarios{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}